/*Paddings*/
.pt-sm{
    padding-top: 2rem;
}
.pb-sm{
    padding-bottom: 2rem;
}
.pt-md{
    padding-top: 4rem;
}
.pb-md{
    padding-bottom: 4rem;
}
.pt-lr{
    padding-top: 6rem;
}
.pb-lr{
    padding-bottom: 6rem;
}

/*Other*/
.txt-center{
    text-align: center;
}