/*Color variables*/
$color-white: #FFFFFF;
$color-black: #151411;
$color-paragraph: #747474;
$color-paragraph-lighter: #AFADB5;
$color-bg-grey: #F5F5F5;
$color-border-light-grey: #F3F3F3;
$color-light-blue: #E3EFFF;
$color-footer-dark-blue: #284366;
$color-button-blue: #5A7CA8;
$color-button-blue-hover: #254B7B;
$color-submenu-el-hover: #C4DDFF;
$color-yellow: #FFB23F;