.gallery-single{

    &__items{

        display: grid;
        grid-template-columns: 1fr;
        @include smallLaptop {
            grid-template-columns: 1fr 1fr;
        };
        @include largeScreen {
            grid-template-columns: 1fr 1fr 1fr;
        };
        row-gap: 3rem;
        column-gap: 3rem;
        
        figure img{
            max-width: 100% !important;
            object-fit: cover;
            aspect-ratio: 6/3;
            width: 100%;
            height: 100%;
        }

        figure .wp-block-embed__wrapper iframe{
            max-width: 100% !important;
            object-fit: cover;
            aspect-ratio: 6/3;
            width: 100%;
            height: 100%;
        }

        figure a img{
            max-width: 100% !important;
            object-fit: cover;
            aspect-ratio: 6/3;
            width: 100%;
            height: 100%;
        }
    }
}
.slb_data_content{
    display: none !important;
}