.skc-gal{
    .skc-gallery{
        display: grid;
        grid-template-columns: 1fr;
        @include biggerLaptop {
            grid-template-columns: 1fr 1fr;
        };
        row-gap: 3rem;
        column-gap: 3rem;
        &__item{
            position: relative;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            /*
            @include biggerLaptop {
                max-width: none;
            }; 
            */
            img{
                width: 100%;
            }
            &__img{
                filter: brightness(0.5);
                aspect-ratio: 4/2;
                @include biggerLaptop {
                    aspect-ratio: 6/3;
                }; 
                object-fit: cover;
                &:hover{
                    filter: brightness(0.3);
                }
            }
            .skc-single__title{
                position: absolute;
                color: $color-white;
                z-index: 10;
                padding: 2rem;
                color: $color-button-blue;
                background-color: $color-submenu-el-hover;
            }
            &__content{
                position: absolute;
                bottom: 0;
                padding: 2rem;
                /*
                display: grid;
                align-items: flex-end;
                height: 100%;
                */
                & * {
                    color: $color-white;
                }
                p{
                    opacity: 0.7;
                }
                a{
                    color: $color-white;
                    font-size: 1.8rem;
                    line-height: 1.8;
                    text-decoration: underline;
                }
                h3{
                    font-size: 2rem;
                    @include desktop {
                        font-size: 2.6rem;
                    };
                }
                h4{
                    text-align: left;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            &__label{
                position: absolute;
                top: 0;
                right: 0;
                padding: .7rem;
                min-width: 13rem;
                min-height: 4rem;
                @include tablet {
                    right: auto;
                    min-height: 10rem;
                    padding: 2rem;
                };
                @include largeScreen {
                    min-height: 13rem;
                };
                background-color: $color-submenu-el-hover;
                & * {
                    color: $color-button-blue;
                }
                .item-label__day{
                    font-size: 2.3rem;
                    line-height: 3rem;
                    font-weight: 700;
                    @include largeScreen {
                        font-size: 4rem;
                        line-height: 6rem;
                    };
                }
                .item-label__month{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: 600;
                    @include largeScreen {
                        font-size: 2rem;
                        line-height: 3rem;
                    };
                }
            }
        }
    }
}
.skc-gal .skc-gallery__item:hover > picture .skc-gallery__item__img{
    filter: brightness(0.3);
}